@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
html{
    box-sizing: border-box;
}
body{
    width: 1440px;
    min-height: 6003vh;
    background: #FFFFFF;
    margin: 0 auto;
    display: block;
}
.header{
    height: 3.125em;
    background: #191919;
    padding: 0.001em;
}
.paragh {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.125em;
    color: #ffff;
    text-align: center;
    padding: .1em;
    
}
.title-page{
    background: #996B60;
    height: 800px;
}
.title-photo{
    background: url(assets/title_photo.png) no-repeat;
    height: 800px;
}

.header-wrapper{
    height: 96px;
}
/*/ Start nav-bar /*/
.nav-bar{
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    height: 96px;
    font-size: 0.75em;
    line-height: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
}
.ul-fisrt .li-first{
    display: inline-block;
    list-style-type: none;
    margin: 2.400em;
    margin-top: 2.375em;
    margin-bottom: 2.5em;
    letter-spacing: 1px;
    text-decoration: none !important;
}
.ul-fisrt:first-child:last-child{
    margin-right: 3.75em;
}
a.text{
    text-decoration: none;
    color: #FFFFFF;
}
a.text:hover{
    color: black;
    transition: 1s;
}
.ul-second .li-second{
    display: inline-block;
    list-style-type: none;
    margin: 2.800em;
    margin-bottom: 2.5em;
    letter-spacing: 1px;
    text-decoration: none !important;
    position: relative;
    top: -6.2em;
    left: 76em;
}
/*/ End nav-bar /*/

.close{
    float: right;
    position: relative;
    top: -30px;
    margin-right: 1.25em;
}
.close:hover{
    transform: rotate3d(1, 2.0, 3.0, 45deg);
}
.logo-class{
    padding: 1.5625em;
    padding-right: 42.375em;
    padding-left: 42.375em;
    padding-top: 1.5625em;
}
.title{
    width: 37.5em;
    height: 26.4375em;
    margin-top: 15.5em;
    margin-left: 54.17%;
    margin-right: 4.17%;
    margin-bottom: 6.25em;
}
.title-txt{
    font-family: 'Liberation Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5625em;
    line-height: 132%;
    color: white;
}
.title-ptxt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 178%;
    color: #FFFFFF;
    margin-top: -1.5em;
    padding-bottom: 1.1em;
}
.click-button{
    margin-bottom: 1em;
    padding: 1.125em 3.25em 1.25em 3.25em;
    border: 1px solid #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 117%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background-color: #996B60;
    text-decoration: none;
}
.click-button:hover{
    background-color: #edc4ba;
    transition: 0.5s;
}

.recommendation{
    width:  83em;
    height: 14.1875em;
    border: 1px solid red;
    margin: auto;
    margin-top: 10em;
}
.recommend-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: left;
    color: #000000;
}
